@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Lora:wght@700&family=Quicksand:wght@400;500;700&family=Roboto+Slab:wght@700&display=swap');
@import './mixins';
@import './reset';
@import './vars';
  @font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?2hypyb');
    src:  url('../fonts/icomoon.eot?2hypyb#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?2hypyb') format('truetype'),
      url('../fonts/icomoon.woff?2hypyb') format('woff'),
      url('../fonts/icomoon.svg?2hypyb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  .icon-facebook:before {
    content: "\e900";
  }
  .icon-twitter:before {
    content: "\e901";
  }
  .icon-vk:before {
    content: "\e902";
  }
  .icon-youtube:before {
    content: "\e903";
  }
[class^=icon-], [class*= "icon-"] {
  font-family: icomoon !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
.header {
  @include flex(space-around, center, 0);
  background: $dark85;
  padding: 36px 0;
  position: sticky;
  top: 0;
  &__logo {
    color: $white;
  }
  .nav {
    &__item {
      &-link {
        color: $white;
      }
    }
  }

  .social {
    &__item {
      &-link {
        color: $white;
        font-size: 24px;
      }
    }
  }
}
.logo {
  @include Roboto(32px, 700, 32px);
}
.nav {
  @include flex(center, center, 56px);
  &__item {
    &-link {
      @include Lato(22px, 500, 22px)
    }
  }
}
.langBar {
  @include flex(center, center, 4px);
}
.social {
  @include flex(center, center, 32px);
  &__item {
    &-link {
      font-size: 24px;
    }
  }
}


.bg-photo {
  background: url('../img/bg-section1.png') no-repeat;
  background-size: cover;
  min-width: 100%;
  width: 100%;
  min-height: 964px;
  margin-top: -119px;
  @include flex(center, center, 0);
  flex-direction: column;

  &__airplane {
    margin-top: 72px;
  }
}
.btn {
  background-color: $green;
  color: $white;
  text-transform: uppercase;
  @include Lato(16px, 900, 16px);
}
.call-to-action {
  @include flex(center, center, 32px);
  flex-direction: column;
  background-color: $dark85;
  padding: 40px;

  h1 {
    @include Lora(84px, 700, 100px);
    color: $white;
    text-transform: uppercase;
    text-align: center;
  }
  span {
    @include Lato(24px, 400, 24px);
    color: $white;
  }
  .btn {
    padding: 21px 110px;
  }
}
.section2 {
  @include flex(center, center, 32px);
  flex-direction: column;
  background-color: $white;
  margin-top: 144px;
  &__title {
    color: $grey;
  }
}
.title {
  @include Roboto(56px, 700, 24px);
  text-transform: uppercase;
}

.section2__text {
  @include Quicksand(20px, 500, 32px);
  text-align: center;
  width: 70%;
}
.section2-container {
  @include flex(center, center, 80px);
}

.section2-container__box {
  @include flex(center, center, 20px);
  flex-direction: column;
}


.section2-container__box-number {
  margin-top: 64px;
  @include Roboto(144px, 700, 24px);
  color: $green;
}

.section2-container__box-img {
  margin-top: -30px;
}

.section2-container__box-text {
  @include Quicksand(40px, 400, 32px);
  text-align: center;
  width: 150%;
}

.section3 {
  @include flex(center, center, 16px);
  flex-direction: column;
  margin-top: 124px;
  background: url('../img/bg-section3.png') no-repeat;
  background-size: cover;
  width: 100%;
  padding: 56px 0px 106px 0px;
  .btn {
    padding: 19px 50px;
  }
  &__title {
    margin-bottom: 16px;
    color: $white;
  }
  &__text {
    @include Roboto(144px, 700, 144px);
    color: $white;
    text-transform: uppercase
  }
  &__date {
    @include Quicksand(24px, 500, 18px);
    text-transform: uppercase;
    color: $white;
  }
  &__sub-text {
    margin-top: 16px;
    @include Quicksand(24px, 400, 32px);
    text-align: center;
    color: $white;
    width: 70%;
  }
  &__solid {
    background: $white;
    width: 20%;
    height: 3px;
    text-align: center;
    margin-bottom: 24px;
  }
  &__discount {
    @include Quicksand(28px, 500, 32px);
    color: $white;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
}

.section4 {
  @include flex(center, center, 0px);
  margin-top: 124px;
  flex-direction: column;
  .btn {
    padding: 19px 62px;
  }

}
.container {
  @include flex(center, center, 30px);
  margin-top: 70px;
  margin-bottom: 50px;
}

.container__box1 {
  background: url('../img/prague-img.png') no-repeat;
  background-size: cover;
  padding: 10px 221px 304px 0px;
}
.container__box2 {
  background: url('../img/portugal-img.png') no-repeat;
  background-size: cover;
  padding: 10px 221px 304px 0px;
}
.container__box3 {
  background: url('../img/dubai-img.png') no-repeat;
  background-size: cover;
  padding: 10px 221px 304px 0px;
}
.container__textbox {
  padding: 5px 8px;
  background-color: $dark85;
}
.container__textbox-text {
  @include Roboto(18px, 400, 18px);
  color: $white;
}
.section4__text {
  @include Quicksand(14px, 500, 18px);
  text-align: center;
  margin: 8px;
}



.section5 {
  @include flex(center, center, 0px);
  flex-direction: column;
  margin-top: 75px;
  background: url('../img/fish.png') no-repeat;
  background-size: cover;
  background-color: $green40;
  .text {
    @include Lato(14px, 500, 18px);
  }
  .big--gap {
    gap: 112px;;
  }
}
.section5__title {
  margin-top: 50px;
  color: $white;
}
.box1 {
  background: url('../img/restorant.png') no-repeat;
  background-size: cover;
  padding: 10px 301px 259px 7px;
}
.box2 {
  background: url('../img/bike.png') no-repeat;
  background-size: cover;
  padding: 12px 337px 305px 8px;
}
.box3 {
  background: url('../img/neon.png') no-repeat;
  background-size: cover;
  padding: 10px 301px 259px 7px;
}
.container__play {
  position: relative;
  top: 130px;
  left: 203px;
}
.play {
  top: 130px;
  left: 237px;
}
.play2 {
  top: 130px;
  left: 220px;
}

.footer {
  @include flex(space-around, center, 0);
  background: url(../img/imgMountains\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 96px 0;
  &__logo {
    color: $dark;
  }
  .nav {
    &__item {
      &-link {
        color: $dark;
      }
    }
  }

  .social {
    &__item {
      &-link {
        color: $dark;
      }
    }
  }
}